<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登録画面</title>
    <link rel="stylesheet" type="text/css" href="../login.css">
</head>
<body>
<form action="#" th:object="${loginDto}" th:action="@{admit}" method="post">
    <div class="total">
        <div class="accountBlock">
            <div class="content">
                アカウント：<input type="text" th:field="*{loginName}"><br/>
                パスワード：<input type="text" th:field="*{loginPassword}"><br/>
            </div>
            <div class="button">
                <button id="clearButton">クリア</button>
                <button id="admitButton">提出</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>