.total {
    text-align: center;
}

.accountBlock{
    margin-top:80px;
    margin-right: 40%;
    margin-left: 40%;
}

.content {
    text-align: center;
}

.button{
    text-align: right;
    margin-top: 20px;
}